<nav class=" fizz_navbar navbar navbar-expand-lg navbar-dark bg-info mt-4">
  <div class="container">
    <div class="logo_header col-6 ">
        <a class=" logo_title navbar-brand" href="javascript:void(0)">Fizz</a>
    </div>
    <div class="col-5 text-right row "  ngbDropdown #myDrop="ngbDropdown" placement="left"  >
        <button class="drop_down_fizz" type="button" class="btn btn-1 btn-default"   id="dropdownManual" ngbDropdownAnchor  (click)="toggleDropDown(myDrop)">
          {{profile?.firstName}} {{profile?.lastName}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual" class="profile_dropdown">
          <button class="drop_down_button" (click)="open(classic1, 'modal_mini', 'sm')" ngbDropdownItem>Update Profile</button>
          <button class="drop_down_button" (click)="logoff()" ngbDropdownItem>Log Off</button>
        </div>
    </div>
    <div class=" col-1">
      <div *ngIf="notifications.length == 0; else filled ">
        <img id="notice_icon" src="./assets/img/icons/common/notice_empty.png" alt="unfilled notice">
      </div>
      <ng-template #filled>
        <div ngbDropdown #noticeDrop="ngbDropdown" placement="right">
          <a class="nav-link nav-link-icon drop_down_fizz" ngbDropdownAnchor (click)="toggleDropDown(noticeDrop)">
            <img id="notice_icon" src="./assets/img/icons/common/notice_filled.png">
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownManual" class="notice_dropdown">
            <div *ngFor="let notice of notifications" class="card notice_card">
              <ng-template *ngIf="notice.action == COMMENT; else retort">
                // card for comment
              </ng-template>
              <ng-template #retort *ngIf="notice.action == RETORT; else focus">
                // card for retort
              </ng-template>
              <ng-template #focus>
                <button  class="drop_down_button " ngbDropdownItem (click)="showNotice(notice)">
                 <div> {{notice.data.title}}: Idea Shared In 
                  <span *ngFor="let foc of notice.data.focus">
                      <span *ngFor="let pref of profile.preferences">
                        <span *ngIf="foc.category == pref.category">
                          {{foc.category}} 
                        </span>
                      </span>
                    </span> 
                  </div>

                </button>
              </ng-template>
              
            </div>
          </div>
        </div>
      </ng-template>
  </div>
  </div>
</nav>

<div class="modal">
  <ng-template #classic1 let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary shadow border-0">
          
          <form role="form" [formGroup]="updateForm" (ngSubmit)=update()>

          <div class="card-header bg-white pb-5">

            <div class="text-muted text-center mb-3">
              <small>Change Your Profile Setting</small>
            </div>

            
              <div class="form-group" >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input formControlName="old_password" class="form-control" placeholder="Password" type="password" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
              </div>

          </div>
          <div class="card-body px-lg-5 py-lg-5">

                <div class="form-group mb-3" >
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                      </div>
                      <input formControlName="username" class="form-control" placeholder="Username" type="email" (focus)="focus=true" (blur)="focus=false">
                    </div>
                  </div>

                  <div class="form-group mb-3" >
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                        </div>
                        <input formControlName="firstname" class="form-control" placeholder="First Name" type="email" (focus)="focus=true" (blur)="focus=false">
                      </div>
                    </div>

                    <div class="form-group mb-3" >
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                          </div>
                          <input formControlName="lastname" class="form-control" placeholder="LastName" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>

              <div class="form-group mb-3" >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input formControlName="email" class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>

              <div class="form-group" >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input formControlName="password" class="form-control" placeholder="New Password" type="password" (focus)="focus1=true" (blur)="focus1=false">
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Update</button>
              </div>

            
          </div>

        </form>
        </div>
      </div>
    </div>
  </ng-template>
</div>

