<div class="card fizz_card ">
  <div class=" card-body fizz_card_body">
    <div class="card-subtitle mb-2 text-muted text-center"> {{retort.creator.username}}</div>
    <p class=" card-text text-center">{{retort.content}}</p>
  </div>
  <div class="card-footer text-muted fizz_card_footer ">
    <div class="row">
      <mat-expansion-panel class="col-12 text-center fizz_expansion_panel">
        <mat-expansion-panel-header>
          <mat-panel-description>{{retort.messages.length}} comments</mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let msg of retort.messages">
          <app-message-card [message]="msg"></app-message-card>
        </div>
        <input onkeydown="return event.key != 'Enter';"  class="form-control" placeholder="Write a Comment" type="text" (focus)="focus1=true" (blur)="focus1=false">
      </mat-expansion-panel>
    </div>
  </div>
</div>