
$navbar-height : 3.875rem;
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $white; 
  }
   
.layout{
     background-color: $gray-100;
     height: 100%;
}
.fizz_navbar{
    position: fixed;
    top: 0;
    width: 100vw;
}
.fizz_navbar, .fizz_navbar_login{
    margin-top: 0 !important;
}

.fizz_navbar_login{
    margin-bottom: 4vh;
}
.fizz_container{
    min-height: 100vh;
}
.fizz_body{
    margin-top: 2*($navbar-padding-y)+ $navbar-height;
    margin-left: 0 !important;
    margin-right: 0 !important;
    
}

.fizz_col{
    // border-right: solid .25vh $gray-300;
    padding: 0 !important;
    margin-top: 2.5vh;

}
.logo_header, .login_form, .signup_input, .login_root {
    padding-left:0 !important; 
}
.logo_title{
    font-size: 2.5rem !important;
}
.idea_modal{
    height: 30vh !important;
}
#notice_icon{
    height: 5vh;
    width: 5vh;
}

.notice_card{
    width: 75vh !important;
}
.ideas_body{
   overflow-y: auto;
   height: 90vh;
}
.fizz_card
{
    margin-bottom: 2.5vh;
}

.fizz_card_header,.fizz_card_footer{
    background-color: $white !important;
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
}
.fizz_expansion_panel{
    box-sizing: inherit !important;
}

