
<div class="layout ">
    <app-layout-navbar  (notice_event)="showNotice($event)" (alert_ticket)="alerty($event)" [profile]=" profile | async "
    [notifications] = "notifications | async"></app-layout-navbar>
    <div class="container">
      <div class="row fizz_body ">
        <div class="col-4 fizz_col">
          <app-activities (alert_ticket)="alerty($event)" [profile]=" profile | async "></app-activities>
        </div>
        <div class="col-8 fizz_col">
          <app-content [ideas]="ideas_obs |async" (alert_ticket)="alerty($event)" [profile]=" profile | async "></app-content>
        </div>
      </div>
    </div>
    <app-alert></app-alert>
  </div>
