
$navbar-height : 3.875rem;
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $white; 
  }
   
.layout{
     background-color: $gray-100;
     height: 100%;
     width: 100%;
}
.teek_container {
    // padding: 0 !important ;
    // margin-left: 10% !important;
    // margin-right: 10% !important;
    // max-width: 70% !important;
}
.teek_navbar{
   // position: fixed;
    top: 0;
    width: 100vw;
}
.teek_navbar, .teek_navbar_login{
    margin-top: 0 !important;
}

.teek_navbar_login{
    margin-bottom: 5%;
}
.teek_body{
    margin-top: 2*($navbar-padding-y)+ $navbar-height;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-width: 100%;
    min-height: 100%;
}

.teek_col{
    // border-right: solid .25vh $gray-300;
    padding: 0 !important;
    margin-top: 2.5%;
    margin-right: 0;
}
.teek_nav_col{
    // border-right: solid .25vh $gray-300;
    padding: 0 !important;

}
.logo_header, .login_form, .signup_input, .login_root {
    padding-left:0 !important; 
}
.logo_title{
    font-size: 2.5rem !important;
}
.idea_modal{
    height: 15% !important;
}


.ideas_body{
   overflow-y: scroll;
   height: 85vh;
}
.teek_card
{
    margin-bottom: 2.5vh;
}

.teek_card_header,.teek_card_footer{
    background-color: $white !important;
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
}
.teek_expansion_panel{
    box-sizing: inherit !important;
}
.live_teek_card{
    min-height: 25%;
    max-height: 25%;
    
    margin-bottom: 10%;
    overflow-y: scroll;
}

.live_center{
    margin-left: 5%;
    margin-right: 5%;
}

